@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Cagliostro);

body {
  font-family: sans-serif;
  background-color: #F93;
/*  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
*/  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.container {
  /*max-width: 600px;*/
  margin: 0 auto;
  /*min-height: 80%;*/
  background: #FC3;
}

header {
  /*max-width: 600px;*/
  background: #F93;
  /*padding: 0 15px 0 10px;*/
  position: relative;
}

header .hide-completed {
  float: right;
}

.main_header{
  text-align: center
}
#login-buttons {
  display: block;
}

.login-link{
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
/*  float: right;
*/}

.login-link-text:hover{
  color: #CCC;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: "Cagliostro", sans-serif;
  margin: 0;
  padding-bottom: 10px;
  display: block;
}

/*form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}*/

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #C90 solid 1px;
  background-color: #FC3;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

.toggle-private {
  margin-left: 5px;
}

footer {
  /*max-width: 600px;*/
  text-align: center;
  background-color: #F93;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.user_avatar {
  background-image: url('assets/pug_orange.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 10em;
}
/*@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}*/

/* CLEARFIX aka GROUP */
.group:after {
  content: "";
  display: table;
  clear: both;
}
