<template name="chatBlurb">
  <li class="chatBlurbItem row">
    {{#if isOwner}}
      <button class="delete">&times;</button>
    {{/if}}
    <div class="user_avatar large-2 columns list_item"></div>
    <div class="chatBlurb_username large-8 columns list_item"><b>{{username}}:</b></div>
      {{#if isOwner}}
        <u>(YOU)</u>
      {{/if}}
    <div class="chatBlurb_text large-8 columns list_item">{{text}}</div>
    <br />
      <div class="chatBlurb_date large-2 columns list_item">{{relativeTime}}</div>
  </li>
</template>