<template name="chatBlurb">
  <li class="box">
    <div class="avatar">
      <div class="user_avatar group"></div>
    </div>
    <div class="innertext">
      <div class="timestamp">
        {{relativeTime}}
        <p>
        {{#if grumpy}}
          {{counter}} others grumbled too.
        {{else}}
          No one grumbled with this.
        {{/if}}
        </p>
      </div>
      <div class="name">
        <h2>
          {{username}}{{facebookName}}:
          {{#if isOwner}}
          <u>(YOU)</u>
          <button class="delete">&times;</button>
          {{/if}}
        </h2>
      </div>
      <div>
        <p class="preview">
          {{text}}
        </p>
      </div>
    </div>
  </li>
</template>