<template name="chatBlurb">
  <li class="chatBlurbItem">
    <button class="delete">&times;</button>
    <div class="user_avatar"></div>
    <!-- <div class="user_avatar"><img src="assets/pug_orange.png" width="70" height="70" /></div> -->
    <span class="chatBlurb_username"><b>{{username}}: </b></span>
      {{#if isOwner}}
        <u>(YOU)</u>
      {{/if}}
    <span class="chatBlurb_text">{{text}}</span>
    <br />
      <span class="chatBlurb_date">{{relativeTime}}</span>
  </li>
</template>